body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

div {
    padding-bottom: 30px;
}

.parallax-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: white;
}

div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

#section1 {
    background-image: url('background-1.jpg');
}

#section2 {
    background-image: url('background-1.jpg'); 
}

.content-section {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.content-section p {
    margin: 0 auto;
    width: 80%;
    font-size: 1.2em;
}

h1 {
    font-family: "Lakki Reddy", serif;
    font-size: 100px; 
    letter-spacing: 2px; 
    text-shadow: 
    -1px -1px 10px #2159ff,  /* Blue inner shadow (top-left) */
     1px -1px 10px #2159ff,  /* Blue inner shadow (top-right) */
    -1px  1px 10px #2159ff,  /* Blue inner shadow (bottom-right) */
    -3px -3px 20px #FFD700,  /* Yellow outer shadow (top-left) */
     3px -3px 20px #FFD700,  /* Yellow outer shadow (top-right) */
    -3px  3px 20px #FFD700,  /* Yellow outer shadow (bottom-left) */
     3px  3px 20px #FFD700;
    margin-bottom: 0px;
}

p1 {
    font-family: "Mountains of Christmas", serif;
    font-size: 40px;
    display: block; 
    margin-bottom: 50px;
}

.spurpunk {
    display: block;
}

p2 {
    font-family: "Mountains of Christmas", serif;
    font-size: 40px;
    display: block;
    margin-top: 80px;
}

.trailer-button {
    font-family: "Mountains of Christmas", serif;
    font-size: 40px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    text-shadow: 
    -1px -1px 5px #2159ff,  /* Blue inner shadow (top-left) */
     1px -1px 5px #2159ff,  /* Blue inner shadow (top-right) */
    -1px  1px 5px #2159ff,  /* Blue inner shadow (bottom-right) */
    -3px -3px 10px #FFD700,  /* Yellow outer shadow (top-left) */
     3px -3px 10px #FFD700,  /* Yellow outer shadow (top-right) */
    -3px  3px 10px #FFD700,  /* Yellow outer shadow (bottom-left) */
     3px  3px 10px #FFD700;
    background-image: url('board.png');
    background-size: 300px 100px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin_bottom: 50px;
}

.trailer-button:hover {
    opacity: 0.8;
}
