body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
div{
    padding-bottom: 30px;
}
.parallax-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    

}
div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#section1 {
    ; /* Replace with your image path */
    background-image: url('background-1.jpg')
}

#section2 {
    background-image: url('background-2.jpg'); /* Replace with your image path */
}


.content-section {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.content-section p {
    margin: 0 auto;
    width: 80%;
    font-size: 1.2em;
}
